/* Trigger Build */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}

h1 {
    color: darkblue;
}

#page-title {
    color: black;
}

h2 {
    color: #3f3c9e;
}

p {
    color: #222222;
}

.wrapper {
    max-width: 50em;
    margin: 0px auto;
    padding: 2em;
}

footer {
    margin-top: 20px;
    border-top: 3px dashed darkblue;
    text-align: center;
    font-weight: bold;
}

body {
    display: flex;
}

.card-list p::before {
    content: " 🡺";
}

.card {
    margin: 5px;
    position: relative;
    left: 1px;
    transition-duration: 0.3s
}

.card:hover {
    left: 5px;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: teal;
    cursor: pointer;
}

a:hover {
    color: black;
}

/* External Links */
a[href*="https"] h2:after {
    content: url('external.svg');
    margin-left: 0.25rem;
}

/* Blinking Cursor */
#typer::after {
    content: "|";
    animation: blink 500ms cubic-bezier(1, -100, 0, 100) infinite alternate-reverse;
    opacity: 1;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}