@font-face {
    font-family: Pixellari;
    src: url("./PIXELLARI.TTF");
}

:root {
    --background-color: beige;
    --text-secondary: darkblue;
    --text-tertiary: #3f3c9e;
    --text-tertiary-shadow: #4f88d2;
    --text-primary: #222222;
    --text-link: teal;
    --text-link-hover: black;
    --text-title: black;
    --brightness-dif: -20%;
}

.light {
    --background-color: beige;
    --text-secondary: darkblue;
    --text-tertiary: #3f3c9e;
    --text-tertiary-shadow: #4f88d2;
    --text-primary: #222222;
    --text-link: teal;
    --text-link-hover: black;
    --text-title: black;
    --brightness-dif: -20%;
}

.dark {
    --background-color: #222222;
    --text-secondary: darkblue;
    --text-tertiary: #8e8bea;
    --text-tertiary-shadow: #342ee2;
    --text-primary: beige;
    --text-link: rgb(0, 218, 218);
    --text-link-hover: white;
    --text-title: white;
    --brightness-dif: 20%;
}

@media (prefers-color-scheme: light) {
    :root:not(.light):not(.dark) {
        --background-color: beige;
        --text-secondary: darkblue;
        --text-tertiary: #3f3c9e;
        --text-primary: #222222;
        --text-link: teal;
        --text-link-hover: black;
        --text-title: black;
        --brightness-dif: -20%;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not(.light):not(.dark) {
        --background-color: #222222;
        --text-secondary: darkblue;
        --text-tertiary: #8e8bea;
        --text-primary: beige;
        --text-link: rgb(0, 218, 218);
        --text-link-hover: white;
        --text-title: white;
        --brightness-dif: 20%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
}

h1 {
    color: var(--text-primary);
}

#page-title {
    color: var(--text-title);
}

h2 {
    color: var(--text-tertiary);
}

p {
    color: var(--text-primary);
}

.wrapper {
    max-width: 50em;
    margin: 0px auto;
    padding: 2em;
}

footer {
    margin-top: 20px;
    border-top: 3px dashed var(--text-secondary);
    text-align: center;
    font-weight: bold;
}

body {
    display: flex;
}

.card-list p::before {
    content: " ‣ ";
}

.card {
    margin: 5px;
    position: relative;
    left: 1px;
    transition-duration: 0.3s
}

.card h2 {
    transition-duration: 0.5s;
}

.card:hover h2 {
    /* margin-left: 15px; */
   transform: translate(5px, 5px);
   /* filter: drop-shadow(-10px -10px green); */
   text-shadow: 
   /* -6px -6px 0px black, */
   -5px -5px 0.5px var(--text-tertiary-shadow),
   -4px -4px 0.5px var(--text-tertiary-shadow),
   -3px -3px 0.5px var(--text-tertiary-shadow),
   -2px -2px 0.5px var(--text-tertiary-shadow),
   -1px -1px 0.5px var(--text-tertiary-shadow);

}

a {
    background-color: transparent;
    text-decoration: none;
    color: var(--text-link);
    cursor: pointer;
}

a:hover {
    color: var(--text-link-hover);
}

/* External Links */
a[href*="https"] h2:after {
    content: url('external.svg');
    margin-left: 0.25rem;
}

/* Blinking Cursor */
#typer::after {
    content: "|";
    animation: blink 500ms cubic-bezier(1, -100, 0, 100) infinite alternate-reverse;
    opacity: 1;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Random Colors for Skills */
.skill {
    font-family: Pixellari;
    color: white;
    padding: .2em;
    transition-duration: .3s;
    margin: 2px;
}

.skill img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(146deg) brightness(104%) contrast(104%);
}

.skills {
    cursor: default;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.skill:hover {
    filter: brightness(80%);
}


.skill:nth-child(odd) {
    background-color: tomato;
}

.skill:nth-child(even) {
    background-color: mediumseagreen;
}

.skill:nth-child(3n) {
    background-color: darkcyan;
}

.skill:nth-child(4n) {
    background-color: mediumorchid;
}

.skill:nth-child(5n) {
    background-color: dodgerblue;
}

.skill:nth-child(6n) {
    background-color: darkorange;
}

.skill:nth-child(7n) {
    background-color: firebrick;
}

.skill:nth-child(8n) {
    background-color: lightseagreen;
}

.pixellari {
    font-family: Pixellari;
}

#theme-switcher {
    cursor: pointer;
}

.theme-ico {
    filter: brightness(60%);
    transition-duration: .4s;
    width: 3em;
}

.theme-ico:hover {
    filter: brightness(calc(60% + var(--brightness-dif)));
}